# OpenSearch Cluster Info
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWD=admin

# OpenAPI API Key
OPENAI_API_KEY=

# Weights & Biases API Setup - optional
WANDB_API_KEY=

# HuggingFace API Setup - optional
HUGGINGFACEHUB_API_TOKEN=

# Don't publish __pycache__ directories
PYTHONDONTWRITEBYTECODE=1

# Langsmith is for debugging Langchain - optional
LANGSMITH_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=

# Suppress a langchain warning
TOKENIZERS_PARALLELISM=false
